<section class="program-section">
  <div class="container">
    <h2 class="section-title">Наша Программа</h2>
    <ul class="list program-list">
      <li class="program-item">
        <h3 class="program-title">1 семестр</h3>
        <ul class="list">
          <li class="program-second-item">
            <h4 class="program-second-title">Grammar</h4>
            <p class="program-description">
              Nouns & Articles Adjectives & Adverb
            </p>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Vocabulary</h4>
            <p class="program-description">
              Family & Relations People & Society
            </p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-title">2 семестр</h3>
        <ul class="list">
          <li class="program-second-item">
            <h4 class="program-second-title">Grammar</h4>
            <p class="program-description">
              Pronouns Active Voice Passive Voice
            </p>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Vocabulary</h4>
            <p class="program-description">Home School Work</p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-title">3 семестр</h3>
        <ul class="list">
          <li class="program-second-item">
            <h4 class="program-second-title">Grammar</h4>
            <p class="program-description">
              Modal verbs Infinitive Gerund Participle: 1, 2
            </p>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Vocabulary</h4>
            <p class="program-description">
              Travel & Tourism Culture & Free Time Sport
            </p>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Writing</h4>
            <p class="program-description">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-title">4 семестр</h3>
        <ul class="list">
          <li class="program-second-item">
            <h4 class="program-second-title">Grammar</h4>
            <p class="program-description">
              Clauses: Conditional and Wishes Direct / Reported speech
              Preposition Conjunction Numeral
            </p>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Vocabulary</h4>
            <p class="program-description">
              Healthy Living Nature & Environment Money
            </p>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Writing</h4>
            <p class="program-description">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-title">5 семестр</h3>
        <p class="program-description">Revision Tests</p>
      </li>
    </ul>
  </div>
</section>
