.program-section {
  background-color: $primary-black-color;
}
.program-section .section-title {
  color: $primary-white-color;
  margin: 0;
  padding-top: 50px;
  margin-bottom: 50px;
}
.program-item:not(:last-child) {
  margin-bottom: 40px;
}
.program-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin: 0;
  margin-bottom: 5px;
}
.program-second-item:not(:last-child) {
  margin-bottom: 10px;
}
.program-second-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.649;
  align-items: center;
  letter-spacing: 0.08em;
  color: $accent-color;
  margin: 0;
  margin-bottom: 5px;
}
.program-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: $secondary-text-color;
  opacity: 0.5;
  margin: 0;
}
